<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/regis.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap" rel="stylesheet">
</head>
<body>


    
    <div class="content">
        <div class="register">
          <div class="register-img">
            <img src="/image/logo_halalin.png">
          </div>
          <div class="middlepart"></div>
          <div class="register-box">
            <form  method="post" action="/register">
                <div class="form-group">
                    <input type="text" id="name" name="name" value="" placeholder="name" required>
                  </div>
                  <div class="form-group">
                    <input type="email" id="email" name="email" value="" placeholder="email" required>
                  </div>
                  <div class="form-group">
                    <input type="password" id="password" name="password" value="" placeholder="password" required>
                  </div>
                  <div class="form-group">
                    <select>
                      <option>CEO</option>
                      <option>Operation</option>
                      <option>Marketing</option>
                      <option>Finance</option>
                      <option>Human Capital + Legal</option>
                      <option>Halalin Academy</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input type="text" id="position" name="position" value="" placeholder="position" required>
                  </div>
                  <div class="form-group">
                    <button type="submit">Daftar</button>
                  </div>
            </form>
            <hr style="margin-top: 20px;">
            <div class="anotherlist">
              <a href="/login" style="text-decoration: none; color: #1A2126;"><p>Masuk</p></a>
              
            </div>
        </div>
      </div>
    </div>

</body>
</html>