*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    height: auto;  
    background-color: #01203a;
    
}

.box{
    width: 460px;
    min-height: 100vh;
    height: auto;  
    background-color: #023059;
    margin: auto;
    
}