*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.container{
    width: 100%;
    min-height: 100vh;
    height: fit-content;  
    background-color: #01203a;
    
}

.box{
    width: 460px;
    min-height: 100vh;
    height: auto;  
    background-color: #023059;
    margin: auto;
    
}